:root {
    --color-dark: hsl(0 0 0);
    --color-light: hsl(0 0 90);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    background: var(--color-dark);
    color: var(--color-light);
    font-family: sans-serif;
}

h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--color-light);
}

.controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#metronomeToggleButton {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: hsl(100 100 50);
    color: hsl(0 0 5);
    cursor: pointer;
}

#metronomeToggleButton.metronome-active {
    background: hsl(0 100 50);
}

#bpmInput {
    height: 5rem;
    background: none;
    text-align: right;
    font-size: 4rem;
    color: var(--color-light);
}

.bpm-display-and-input span {
    font-size: 4rem;
}
